<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password" required>
  </div>
  <div class="form-group">
      <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" >
      Login with Email
      
      </button>
   </div>
  <a routerLink="/register">Nincs fiókod? Regisztrálj!</a>