  <a routerLink="/pokemons">Összes pokemon</a>
<div *ngFor="let pokemon of pokemons | async">
  <h4>{{pokemon | json}}</h4>
</div>
<h2>I found a pokemon!!!</h2>
<p>Name of the pokemon<input [(ngModel)]="pokemon.name"></p>
<p>Level of the pokemon<input type="number" [(ngModel)]="pokemon.level"></p>
<button (click)="addPokemon()">Send</button>